.video__iframes {
  margin: 0;
  height: calc(316px - 50px);
  width: calc(515px * 2 + 20px);
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  overflow: visible;
  z-index: 1;
}
